@import "../../library/scss/partials/variables";

.A2HS {
  width: 100%;

  color: $primary-font-color;
  font-family: $primary-font;
  text-align: center;
  font-weight: 400;
}

.A2HS__title {
  margin-top: 30px;
  font-size: 1.7rem;
}

.A2HS__subtitle {
  margin: 10px;
  font-size: 1.4rem;
  font-weight: 300;
}

.A2HS__imgdiv {
  max-width: 300px;
  margin: 20px auto;

  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
}

.A2HS__imgdiv__image {
  width: 100%;
}

.A2HS__button {
  display: block;
  width: 185px;
  height: 35px;
  margin: 15px auto;

  font-size: 1.6rem;

  background-color: $button-secondary-color;
}

.A2HS__button:hover {
  background-color: $button-secondary-color--hover;
}

.A2HS__button--primary {
  background-color: $button-primary-color;
}

.A2HS__button--primary:hover {
  background-color: $button-primary-color--hover;
}

.A2HS__doof-happy {
  max-width: 300px;
}

.brand {
  color: $brand-color;
  font-family: $secondary-font;
}
