@import "../../library/scss/partials/variables";

.TopicList {
  border-top: $topic-border-size solid $topic-border-color;

  display: grid;
  grid-template-columns: 70px auto 70px;

  align-items: center;

  background-color: $primary-background-color;
}

.Arrow {
  height: 100%;
  width: 100%;

  font-family: $primary-font;
  font-size: $arrow-font-size;
  font-weight: 300;
  color: $arrow-color;
}
