@import "../../library/scss/partials/variables";

.TopicList {
  position: absolute;
  top: $header-size;

  height: $topic-size;
  width: 100vw;

  display: grid;
  grid-template-columns: 70px auto 70px;

  align-items: center;

  z-index: 2;
  background-color: $primary-background-color;
  transition: top 0.3s linear;
}

.Arrow {
  height: 100%;
  width: 100%;

  font-family: $primary-font;
  font-size: $arrow-font-size;
  font-weight: 300;
  color: $arrow-color;
}

@media only screen and (min-width: $tablet-breakpoint) {
  .TopicList {
    height: $topic-size--tablet;
    top: $header-size--tablet;
  }
  .Arrow {
    font-size: $arrow-font-size--tablet;
  }
}
