@import "../../library/scss/partials/variables";

.MemeList {
  margin-top: $topic-size;
  max-width: $meme-max-width;
  height: auto;
  background-color: $primary-background-color;
}

.InfiniteScroll {
  width: 100vw;
  height: 10px;
  background-color: #fff;
}

@media only screen and (min-width: $tablet-breakpoint) {
  .MemeList {
    margin-top: $topic-size--tablet;
    max-width: $meme-max-width--tablet;
  }
}

@media only screen and (min-width: $laptop-breakpoint) {
  .MemeList {
    max-width: $meme-max-width--laptop;
  }
}
