@import "../../library/scss/partials/variables";

.Meme {
  margin-bottom: 15px;

  color: $primary-font-color;
  font-family: $primary-font;
  font-weight: 300;
  font-size: $meme-header-font-size;

  background-color: $primary-background-color;
}

.Meme__header {
  height: 55px;
  padding-left: 15px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Meme__header > * {
  margin: 0 3px;
}

.Meme__header__logo {
  height: 25px;
}

.Meme__header__text--bold {
  font-weight: 400;
}

.Meme__content {
  width: 100%;
}

.Meme__footer {
  display: flex;
}

.Meme__footer__button {
  margin: 0 13px;
  display: flex;
  align-items: center;
}

.Meme__footer__button__counter {
  margin-left: 9px;
  font-size: $meme-footer-font-size;
  color: $secondary-font-color;
}

.Meme__footer__button__counter--used {
  color: $primary-font-color;
}

@media only screen and (min-width: $tablet-breakpoint) {
  .Meme {
    font-size: $meme-header-font-size--tablet;
  }
  .Meme__footer__button__counter {
    font-size: $meme-footer-font-size--tablet;
  }
}
