@import "../../library/scss/partials/variables";

.Header {
    display: grid;
    grid-template-columns: 20% 50%;

    background-color: $primary-background-color;
}

.Header__logo {
    @extend .center;
}

.Header__logo__img {
    width: 35px;
}

.Header__text {

    @extend .center;
    text-align: left;
    justify-content: start;

    color: $deafult-meme-color;
    font-family: $secondary-font;
    font-size: $header-font-size;
}