@import "../../library/scss/partials/variables";

.AppUi {
  height: 100vh;

  display: grid;
  grid-template-rows: $header-size auto;
  justify-items: center;
}

@media only screen and (min-width: $tablet-breakpoint) {
  .AppUi {
    grid-template-rows: $header-size--tablet auto;
  }
}
