$primary-background-color: #0C0C0C;
$deafult-meme-color: #FFFFFF;

$secondary-font: "Minecraft", sans-serif;

$header-font-size: 3rem;

.center {
    display: grid;
    justify-items: center;
    align-items: center;
}
