// General
$primary-background-color: #0c0c0c;
$secondary-background-color: #0c0c0cc0;

$primary-font-color: #fff;
$secondary-font-color: #8d8d8d;

$primary-font: "Roboto", sans-serif;
$secondary-font: "Minecraft", sans-serif;

$brand-color: #fb903c;
$button-brand-color: #e57a26;
$button-hover-brand-color: #f7842c;
$button-radius: 5px;
$link-brand-color: #ffb377;

// Breakpoints
$tablet-breakpoint: 570px;
$laptop-breakpoint: 1100px;

// @media only screen and (min-width: $tablet-breakpoint) {
// }

// @media only screen and (min-width: $laptop-breakpoint) {
// }

// Header
$header-size: 70px;
$header-size--tablet: 90px;

$header-font-size: 2.4rem;
$header-font-size--tablet: 2.9rem;

$header-logo-size: 35px;
$header-logo-size--tablet: 55px;

$header-container-max-width: 500px;

$header-border-color: #fff;
$header-border-size: 1px;

// Topic
$topic-size: 90px;
$topic-size--tablet: 90px;

$topic-font-size: 2.2rem;
$topic-font-size--tablet: 2.5rem;

$arrow-font-size: 3rem;
$arrow-font-size--tablet: 4rem;
$arrow-color: #fff;

// Meme
$meme-max-width: 100vw;
$meme-max-width--tablet: 500px;
$meme-max-width--laptop: 600px;

$meme-header-font-size: 2rem;
$meme-header-font-size--tablet: 2.3rem;

$meme-footer-font-size: 2.1rem;
$meme-footer-font-size--tablet: 2.5rem;

// LoadingMoreMemes
$loading-memes-content-width: 230px;

$loading-memes-title-size: 2.2rem;
$loading-memes-title-size--tablet: 2rem;

$loading-memes-subtitle-size: 1.5rem;
$loading-memes-subtitle-size--tablet: 2rem;

$loading-memes-img-rotation-speed: 3s;
$loading-memes-img-size: 150px;
$loading-memes-img-size--tablet: 150px;

//Add To Home Screen
$a2hs-padding: 20px;
$a2hs-height: 450px;
$a2hs-X-height: 30px;
$a2hs-img-height: 250px;

.center {
  display: grid;
  justify-items: center;
  align-items: center;
}
